logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
*.swp
dist
*-lock.yaml
*-lock.json
chrome-extension/bundle
*.zip

.DS_Store
.idea/
.vite-ssg-dist
.vite-ssg-temp
*.crx
*.local
*.log
*.pem
*.xpi
*.zip
dist
dist-ssr
extension/manifest.json
node_modules
src/auto-imports.d.ts
src/components.d.ts
.eslintcache

# Projects
packages/electron/client/**/*
docs/.vitepress/cache/
