@keyframes connecting {
  0% {
    opacity: 60%;
    transform: scale(60%);
  }
  50% {
    opacity: 80%;
    transform: scale(80%);
  }
  100% {
    opacity: 100%;
    transform: scale(100%);
  }
}

.inner {
  --at-apply: pt-6 pr-5 pb-4 pl-5;
  animation: connecting 1.2s 0.1s linear infinite;
}
